<div class="viewer full">
  <h2>Оглеждане</h2>

  <div class="code">
    window.FPSControls = function(camera, el) {
      <span class="hl-0">// jquery.pointerlock.js</span>
      $(el).pointerLock({
        <span class="hl-1">on: 'click',</span>
        until: null,
        fullscreenElement: el,
        movement: function(movementX, movementY) {
          <span class="hl-2">updateCamera(movementX, movementY);</span>
        }
      });
    };
  </div>
</div>
