<div class="viewer full">
  <h2>Оглеждане</h2>

  <div class="code">
    var updateCamera = function(movementX, movementY) {
      <span class="hl-0">yaw.rotation.y   -= movementX * 0.002;</span>
      <span class="hl-1">pitch.rotation.x -= movementY * 0.002;</span>

      <span class="hl-2">pitch.rotation.x = Math.max(
        -Math.PI/2,
        Math.min(Math.PI/2, pitch.rotation.x)
      );</span>
    };
  </div>
</div>
