<div class="full">
  <h2>Phong модел</h2>

  <div class="code">
    var material = new <span class="hl-0">THREE.MeshPhongMaterial</span>({
      <span class="hl-1">color:     0x00ff00,</span>
      <span class="hl-2">specular:  0x009900,</span>
      <span class="hl-3">ambient:   0x005500</span>
    });

    var light = new <span class="hl-4">THREE.HemisphereLight(
      0xaaaaaa, 0x999999
    );</span>
    <span class="hl-5">scene.add(light);</span>
  </div>
</div>
