<div class="viewer full">
  <h2>Движение</h2>

  <div class="code">
    var c = slowdownCoefficient;

    velocity.x -= velocity.x * c * delta;
    velocity.z -= velocity.z * c * delta;
  </div>
</div>
