<div class="code highlight">
  &lt;html&gt;

    &lt;head&gt;
      &lt;script src=&quot;jquery-2.1.1.js&quot;&gt;&lt;/script&gt;
      &lt;script src=&quot;three.js&quot;&gt;&lt;/script&gt;
    &lt;/head&gt;

    &lt;body&gt;
      <span class="hl-1">&lt;canvas&gt;
      &lt;/canvas&gt;</span>
    &lt;/body&gt;
  &lt;/html&gt;
</div>
