<div class="viewer full">
  <h2>Movement</h2>

  <div class="code">
    this.update = function() {
      <span class="hl-0">time = performance.now();
      var delta = (time - prevTime) / 1000;
      prevTime = time;</span>

      <span class="hl-1">var c = speedCoefficient;</span>

      <span class="hl-2">if (moveForward)  { velocity.z -= c * delta; }
      if (moveBackward) { velocity.z += c * delta; }

      if (moveLeft)  { velocity.x -= c * delta; }
      if (moveRight) { velocity.x += c * delta; }</span>
    }
  </div>
</div>
