<script>
Slides[8] = {
  steps: [
    function($el) { $el.highlight('0'); },
    function($el) { $el.highlight('1'); },
    function($el) { $el.highlight('2'); }
  ],
};
</script>

<div class="code">
  <span class="hl-0">renderer.setClearColor(0xffffff);
  renderer.setSize($canvas.innerWidth(), $canvas.innerHeight());</span>

  function <span class="hl-1">render</span>() {
    requestAnimationFrame(<span class="hl-1">render</span>);
    <span class="hl-2">renderer.render(scene, camera);</span>
  }
</div>
