<div id="hello" class="full">
  <img src="/images/me.jpg" />

  <ul>
    <li>Github: <a href="http://github.com/AndrewRadev">AndrewRadev</a></li>
    <li>Twitter: @<a href="http://github.com/AndrewRadev">AndrewRadev</a></li>
  </ul>
</div>
