<div class="viewer full">
  <h2>Оглеждане</h2>

  <div class="code">
    <span class="hl-0">camera.rotation.set(0, 0, 0);</span>

    <span class="hl-1">var pitch = new THREE.Object3D();
    pitch.add(camera);</span>

    <span class="hl-2">var yaw = new THREE.Object3D();
    yaw.add(pitch);</span>

    <span class="hl-3">yaw.position.y = height;</span>
  </div>
</div>
