<script>
Slides[ 9 ] = {
  init: function($el) {
  },

  steps: [
    function($el) { $el.highlight('0') },
    function($el) { $el.highlight('1') },
    function($el) { $el.highlight('2') },
    function($el) { $el.highlight('3') },
    function($el) { $el.highlight('4') }
  ],

  run: function($el) {
  }
};
</script>

<div class="code">
  <span class="hl-0">var geometry = new THREE.BoxGeometry(1, 1, 1);</span>
  <span class="hl-1">var material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });</span>

  <span class="hl-2">var cube = new THREE.Mesh(geometry, material);</span>
  <span class="hl-3">scene.add(cube);</span>

  <span class="hl-4">camera.position.z = 5;</span>
</div>
