<h2>One</h2>

<div class="code">
  .slide {
    position: <span class="hl-1">absolute</span>;
    top: 0;
    left: 0;
    height: <span class="hl-2">100%</span>;
    width: <span class="hl-0">100%</span>;
  }
</div>
