<div class="viewer full">
  <h2>Движение</h2>

  <div class="code">
    window.FPSControls = function(camera, el) {
      <span class="hl-1">var speedCoefficient    = 200;
      var slowdownCoefficient = 5;</span>

      <span class="hl-2">var velocity = new THREE.Vector3();</span>

      <span class="hl-3">var time     = null;
      var prevTime = performance.now();</span>
    };
  </div>
</div>
