<div class="viewer full">
  <h2>Movement</h2>

  <div class="code">
    $(document).on('keydown', function(e) {
      switch (e.keyCode) {
        case 87: moveForward  = true; break; // w
        case 65: moveLeft     = true; break; // a
        case 83: moveBackward = true; break; // s
        case 68: moveRight    = true; break; // d
      }
    });
  </div>
</div>
